<div>
  <mat-tab-group animationDuration="2000ms">
    <mat-tab label="SALAS DE AULA"></mat-tab>
  </mat-tab-group>
</div>

<div class="container">
  <div class="table-header">
    <span class="table-title">Salas de Aula</span>
  </div>
  <div class="search-container">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="search($event)" #input>
    </mat-form-field>
  </div>



  <div class="form-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element, let i = index"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="room">
        <th mat-header-cell *matHeaderCellDef> Número da sala </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <ng-container matColumnDef="building">
        <th mat-header-cell *matHeaderCellDef> Prédio </th>
        <td mat-cell *matCellDef="let element"> {{element.towerNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="situation">
        <th mat-header-cell *matHeaderCellDef> Situação </th>
        <td mat-cell *matCellDef="let element"> {{element.online}} </td>
      </ng-container>

      <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef> Lotação máxima </th>
        <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
      </ng-container>

      <ng-container matColumnDef="resources">
        <th mat-header-cell *matHeaderCellDef> Recursos </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="reserves">
        <th mat-header-cell *matHeaderCellDef> Reservas </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon>insert_invitation</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editRoom(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Excluir </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteRoom(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>

    </table>
    <button mat-fab color='warn' style="margin-left : 1720px">
      <mat-icon>add</mat-icon>
    </button>
    <mat-paginator style="margin-right: 710px;" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


  </div>
</div>