form {
   display: flex;
   flex-direction: column;
   line-height: 35px;
}

.add-container {
   padding: 25px;
}

.table-header {
   margin-left: 0;
}

.mat-form-field {
   width: 100%;
}

.btn-group {
   display: flex;
   justify-content: space-between;
}