<div class="reservations-container" mat-dialog-content>
  <h1>Aulas reservadas para a sala {{data.number}}</h1>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> Número </th>
      <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
    </ng-container>
  
    <ng-container matColumnDef="ano">
      <th mat-header-cell *matHeaderCellDef> Ano </th>
      <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
    </ng-container>
  
    <ng-container matColumnDef="semestre">
      <th mat-header-cell *matHeaderCellDef> Semestre </th>
      <td mat-cell *matCellDef="let element"> {{element.semestre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="professorName">
      <th mat-header-cell *matHeaderCellDef> Professor </th>
      <td mat-cell *matCellDef="let element"> {{element.professorName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="horas">
      <th mat-header-cell *matHeaderCellDef> Horários </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="openHours(element)">
          <mat-icon>insert_invitation</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

</div>

